body {
  background: #2b7290;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1,
h2 {
  color: rgb(246, 236, 49);
}
.ketengah {
  margin: 10px auto;
  width: 1150px;
}
.kotak1 {
  background: #fcfcfc;
  padding: 20px;
  float: left;
  margin: 20px;
  width: 150px;
  height: 150px;
  border-radius: 15%;
}
.kotak2 {
  background: #fcfcfc;
  padding: 20px;
  float: left;
  margin: 20px;
  width: 150px;
  height: 150px;
  transform: translate(1050px, 0px);
  border-radius: 15%;
}
